<!DOCTYPE html>

<head>
  <title>尾刀计算器</title>
  <meta name='viewport' content='width=1100' charset="utf-8" />
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
  <style>
    .el-table td,
    .el-table th {
      text-align: center;
    }
    .el-popover {
      white-space: pre-wrap;
    }
    .digit6{
      color:blue;
    }
    .digit7{
      color:green;
    }
    .digit8{
      color:orange;
    }
    .digit9{
      color:red;
    }
  </style>

  <script type="text/javascript">
	function calc(){
		var targetHP = document.getElementsByName("targetHP")[0].value;
		var firstDamage = document.getElementsByName("firstDamage")[0].value;
		var secondDamage = document.getElementsByName("secondDamage")[0].value;
		document.getElementsByName("returnTime")[0].value = 90-parseInt((targetHP-firstDamage)/secondDamage*90)+20;
	}
  </script>
</head>

<body>
  <div id="app">
    剩余血量：<input name="targetHP" type="text" onchange="calc()"/><p>
    先出伤害：<input name="firstDamage" type="text" onchange="calc()"/><p>
    后出伤害：<input name="secondDamage" type="text" onchange="calc()"/><p>
    返回时间：<input name="returnTime" type="text"/>
  </div>
  <footer style="text-align: center">
    powered by <a href="https://github.com/pcrbot/yobot">yobot</a>
  </footer>
</body>
<script>var csrf_token = "{{ session['csrf_token'] }}";</script>

</html>